<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Incluyendo el menú de navegación -->
    {% include 'torneo/menu.html' %}
  
    <img src="{% static 'imagenes/league-of-legends.jpeg' %}" alt="Logo">
 
    <!-- Bloque para cabecera específica de cada página -->
    {% block header %}
    <header>
        <h1>Bienvenido a Mi Aplicación</h1>
    </header>
    {% endblock %}

    <!-- Bloque para el contenido principal -->
    <main>
        {% block content %}
        <p>Este es el contenido principal.</p>
        {% endblock %}
    </main>

    <!-- Incluyendo el pie de página -->
    {% include 'torneo/footer.html' %}
</body>
</html>
