{% extends 'torneo/base.html' %}

{% block title %}Espectadores por Nombre{% endblock %}

{% block content %}
    <h1>Espectadores que comienzan con "{{ nombre }}"</h1>

    <ul>
        {% for espectador in espectadores %}
            <li>
                {{ espectador.usuario.nombre }} - 
                {{ espectador.usuario.correo }} - 
                Nivel de Interés: {{ espectador.nivel_interes }} - 
                Comentarios: {{ espectador.comentarios }}<br>
                Frecuencia: {{ espectador.frecuencia_visitas }}<br>
                Suscripción: {{ espectador.suscripcion }}
            </li>
        {% endfor %}
    </ul>

    <p>Total de espectadores: {{ espectadores.count }}</p> 
{% endblock %}
