{% extends 'torneo/base.html' %}

{% block title %}Estado de Torneos de Juegos{% endblock %}

{% block content %}
    <h1>Estado de Torneos de Juegos</h1>
    <ul>
        {% for torneojuego in torneojuegos %}
            <li>
                <strong>Torneo:</strong> {{ torneojuego.torneo.nombre }} - 
                <strong>Juego:</strong> {{ torneojuego.juego.nombre }} <br>
                {% if torneojuego.estado == "activo" %}
                    <span style="color: green;">Estado: Activo</span>
                {% endif %}
                {% if torneojuego.estado != "activo" %}
                <span style="color: red;">Estado: Inactivo</span>
                {% endif %} 
             
            </li>
        {% empty %}
            <p>No hay torneos en curso actualmente.</p>
        {% endfor %}
    </ul>
{% endblock %}
