{% extends 'torneo/base.html' %}

{% block title %}Lista de Participantes{% endblock %}

{% block content %}
    <h1>Lista de Participantes</h1>
    {% for participante in participantes %}
        <div>
            <p><strong>Nombre:</strong> {{ participante.usuario.nombre|default:"Nombre no disponible" }}</p>
            <p><strong>Correo:</strong> {{ participante.usuario.correo }}</p>
            <p><strong>Puntos Obtenidos:</strong> {{ participante.puntos_obtenidos }}</p>

            {% if participante.puntos_obtenidos > 10000 %}
                <p style="color: green;"><strong>¡Gran puntaje!</strong></p>
            {% elif participante.puntos_obtenidos < 10000 %}
                <p style="color: red;"><strong>¡Puede mejorar!</strong></p>
            {% else %}
                <p style="color: blue;"><strong>Puntos exactos: 10,000</strong></p>
            {% endif %}
            
            <hr>
        </div>
    {% empty %}
        <p>No hay participantes registrados en este momento.</p>
    {% endfor %}
    <p><a href="{% url 'index' %}">Volver al inicio</a></p>
{% endblock %}
