{% extends 'torneo/base.html' %}

{% block title %}Lista de Usuarios en Primeros Lugares{% endblock %}

{% block content %}
    <h1>Lista de Usuarios en Primeros Lugares</h1>
    <ul>
        {% for usuario in usuarios_primeros %}
            <li>
                {{ usuario.nombre }} - Correo: {{ usuario.correo }} {{ usuario.clave_de_acceso }} - 
                {{ usuario.fecha_registro }} - Ranking: {{ usuario.jugador.ranking }} - 
                Puntos: {{ usuario.jugador.puntos }} - Torneos Ganados: {{ usuario.jugador.torneos_ganados }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
