{% extends 'torneo/base.html' %}

{% block title %}Lista de Torneos{% endblock %}

{% block content %}
    <h1>Lista de Torneos</h1>

    <div>
        {% for torneo in torneos %}
            <div>
                <h2>{{ torneo.nombre }}</h2>
                <p>Descripción: {{ torneo.descripcion |escape }}</p>
                <p>Categoría: {{ torneo.categoria|lower }}</p>
                <p>Duración: {{ torneo.duracion }}</p>
                <p>Fecha de Inicio: {{ torneo.fecha_inicio|date:"d M Y" }}</p>
                <h3>Participantes:</h3>
                <ul>
                    {% for participante in torneo.participantes.all %}
                        {% include 'torneo/items/_torneo.html' %}
                    {% empty %}
                        <li>No hay participantes registrados en este torneo.</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
