{% extends 'torneo/base.html' %}

{% block title %}Primeros Torneos{% endblock %}

{% block content %}
    <h1>Primeros Torneos</h1>

    {% if torneos %}
        <ul>
            {% for torneo in torneos %}
                {% include 'torneo/items/primerotorneo.html' %}
            {% empty %}
                <li>No hay torneos disponibles en este momento.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron torneos para mostrar.</p>
    {% endif %}
{% endblock %}
