<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Usuarios No Clasificados</title>
</head>
<body>
    <h1>Usuarios No Clasificados</h1>
    
    <ul>
        {% for usuario in noclasificados %}
            <li>
                <strong>Nombre:</strong> {{ usuario.nombre }} <br>
                <strong>Correo:</strong> {{ usuario.correo }} <br>
                <strong>Fecha de Registro:</strong> {{ usuario.fecha_registro }} <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
